#page-title {
  font-size: 30px;
  font-weight: 500;
}
#field-container {
  border-bottom: 1px solid darkgrey;
  padding: 5px 0;
  margin-top: 5px;
}

#label {
  font-size: 15px;
  color: gray;
}

#value {
  font-weight: bold;
  font-size: 20px;
  margin-top: -5px;
}
