#page-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#input-wrapper {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  grid-gap: 10px;
}

#input-wrapper div {
  width: 25vw;
}

#page-title {
  font-size: 40px;
  font-weight: 500;
}

#table-wrapper {
  border-radius: 6px !important;
  padding: 10px 25px !important;
  box-shadow: 1px 1px 8px 2px rgba(0 0 0 / 20%) !important;
  margin-top: 30px !important;
}

@media screen and (max-width: 1200px) {
  #page-header-wrapper {
    display: grid;
    grid-gap: 10px;
  }

  #input-wrapper {
    grid-template-columns: 1fr;
  }

  #input-wrapper {
    width: 94vw;
  }
  #input-wrapper div {
    width: unset;
  }

  .hide-on-small-device {
    display: none;
  }
}
