<Section>
  <div id="page-header-wrapper">
    <div id="page-title">Kundenliste</div>
    <div id="input-wrapper">
      <div>
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="nach Kunden suchen"
        />
      </div>
      <button type="button" class="btn btn-primary">suchen</button>
    </div>
  </div>
<!--  <hs-waiting *ngIf="waiting; else showErgebnis"></hs-waiting>-->

  <div id="table-wrapper">
    <table class="table table-striped" style="margin-top: 45px">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Kundenname</th>
        <th scope="col">E-mail</th>
        <th scope="col">Kategorie</th>
        <th scope="col">Newsletter Abo</th>
        <th scope="col" class="hide-on-small-device">Geburtsdatum</th>
        <th scope="col" class="hide-on-small-device">Homepage</th>
        <th scope="col" class="hide-on-small-device">Geschlecht</th>
        <th scope="col" class="hide-on-small-device">Famlienstand</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Max Müllermann</td>
        <td>max-muellerman@gmail.com</td>
        <td>0</td>
        <td>Ja</td>
        <td class="hide-on-small-device">15.01.1958</td>
        <td class="hide-on-small-device">www.max-mueller.com</td>
        <td class="hide-on-small-device">Männlich</td>
        <td class="hide-on-small-device">Ledig</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Max Müllermann</td>
        <td>max-muellerman@gmail.com</td>
        <td>0</td>
        <td>Ja</td>
        <td class="hide-on-small-device">15.01.1958</td>
        <td class="hide-on-small-device">www.max-mueller.com</td>
        <td class="hide-on-small-device">Männlich</td>
        <td class="hide-on-small-device">Ledig</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Max Müllermann</td>
        <td>max-muellerman@gmail.com</td>
        <td>0</td>
        <td>Ja</td>
        <td class="hide-on-small-device">15.01.1958</td>
        <td class="hide-on-small-device">www.max-mueller.com</td>
        <td class="hide-on-small-device">Männlich</td>
        <td class="hide-on-small-device">Ledig</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Max Müllermann</td>
        <td>max-muellerman@gmail.com</td>
        <td>2</td>
        <td>Ja</td>
        <td class="hide-on-small-device">15.01.1958</td>
        <td class="hide-on-small-device">www.max-mueller.com</td>
        <td class="hide-on-small-device">Männlich</td>
        <td class="hide-on-small-device">Ledig</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Max Müllermann</td>
        <td>max-muellerman@gmail.com</td>
        <td>0</td>
        <td>Ja</td>
        <td class="hide-on-small-device">15.01.1958</td>
        <td class="hide-on-small-device">www.max-mueller.com</td>
        <td class="hide-on-small-device">Männlich</td>
        <td class="hide-on-small-device">Ledig</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Max Müllermann</td>
        <td>max-muellerman@gmail.com</td>
        <td>1</td>
        <td>Ja</td>
        <td class="hide-on-small-device">15.01.1958</td>
        <td class="hide-on-small-device">www.max-mueller.com</td>
        <td class="hide-on-small-device">Männlich</td>
        <td class="hide-on-small-device">Ledig</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Max Müllermann</td>
        <td>max-muellerman@gmail.com</td>
        <td>0</td>
        <td>Ja</td>
        <td class="hide-on-small-device">15.01.1958</td>
        <td class="hide-on-small-device">www.max-mueller.com</td>
        <td class="hide-on-small-device">Männlich</td>
        <td class="hide-on-small-device">Ledig</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Max Müllermann</td>
        <td>max-muellerman@gmail.com</td>
        <td>1</td>
        <td>Ja</td>
        <td class="hide-on-small-device">15.01.1958</td>
        <td class="hide-on-small-device">www.max-mueller.com</td>
        <td class="hide-on-small-device">Männlich</td>
        <td class="hide-on-small-device">Ledig</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>Max Müllermann</td>
        <td>max-muellerman@gmail.com</td>
        <td>1</td>
        <td>Ja</td>
        <td class="hide-on-small-device">15.01.1958</td>
        <td class="hide-on-small-device">www.max-mueller.com</td>
        <td class="hide-on-small-device">Männlich</td>
        <td class="hide-on-small-device">Ledig</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>Max Müllermann</td>
        <td>max-muellerman@gmail.com</td>
        <td>0</td>
        <td>Ja</td>
        <td class="hide-on-small-device">15.01.1958</td>
        <td class="hide-on-small-device">www.max-mueller.com</td>
        <td class="hide-on-small-device">Männlich</td>
        <td class="hide-on-small-device">Ledig</td>
      </tr>
      </tbody>
    </table>
  </div>
</Section>
